body {
	margin: 0 6rem ;
}

.three-columns-section {
 	display: grid;
 	grid-template-columns: auto auto auto;
 	margin-top: 20px;
 	margin-bottom: 20px;
 }

.center {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.right {
	float: right;
}
.rect-area {
	display: grid;
	grid-template-columns: auto;
	background-color: grey;
	padding: 20px;
	border-radius: 3px;
}
ul li{
	display: inline-block;
    list-style-type: none;
    padding-left:10px;
    padding-right:40px;
    padding-bottom: 10px;

}
 .box
 {
 	border:1px solid #000;
 	background-color: grey;
 }
.rect {
	padding: 20px;
	height:250px;
	margin-top:10px;
	width:100%;
	

	background-color: grey;
}
.font {
	color: #fff;

}
.rect-area {
	display: grid;
	grid-template-columns: auto;
	background-color: grey;
	padding: 20px;
	border-radius: 3px;
}
.rect1{   
	border:1px solid #000;
	background-color: gray;
	width:50%;
	height:250px;
}
 